.bodyStyle{
	<!--background: #2f3036;-->
	background: #white;
	margin: 0 5% 0 5%;	
}
ul {
	list-style-type:none;
	float: right;
	margin:0;
	position: fixed;
	right:0;
	top: 0;
	margin-bottom: 150px;
}
li {
	margin-right: 1px;
	float: left;
}
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	padding-bottom: 60px;
	padding-top: 25px;
	line-height: 50px;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}
li:hover a {
	background: #8b2528;
}
li:hover ul a {
	background: #2f3036;
	color: #white;
	height: 40px;
	line-height: 40px;
}
li:hover ul a:hover {
	background: #8b2528;
	color: #fff;
}	
li ul {
	display: none;
}
li ul li {
	display: inline;
	float: none;
}
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
.nav{
	height: 50px;
	width: 100%;
	background: #2f3036;
	padding-bottom: 100px;
	position: fixed;
	left:0;
	top:0;
}
.divStyle2{
	padding: 50px 5% 50px 5%;
	background-color: grey;
	margin: 0 10px 0px 10px;
	font-family: 'Indie Flower', cursive;
	color: white;
}
.divStyle3{
	padding: 10px 5% 10px 5%;
	background-color: grey;
	margin: 0 10px 0px 10px;
	font-family: 'Indie Flower', cursive;
	color: white;
}
.divStyle{
	padding: 50px 5% 50px 5%;
	background-color: #a7a7a7;
	margin: 0 10px 0px 10px;
	font-family: 'Indie Flower', cursive;
	color: white;
}
.divFill{
	padding: 50px 5% 0px 5%;
	margin: 0 10px 0px 0px;
}
h1{
	font-size: 60px;	
}
p{
	font-size: 170%;	
}
form{
	<!--background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  	background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);-->
  	margin: auto;
  	position: static;
  	width: 50%;
  	height: 475px;
 	font-family: 'Indie Flower', cursive;
  	font-size: 25px;
	font-style: italic;
	line-height: 24px;
 	font-weight: bold;
	color: black;
	text-decoration: none;
  	border-radius: 10px;
  	padding: 10px;
  	border: 1px solid #999;
  	border: inset 1px solid #333;
  	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input#written {
	position: static;
  	width: 60%;
  	display: block;
  	border: 1px solid #999;
  	height: 30px;
  	border-radius: 5px;
  	font-family: 'Indie Flower', cursive;
  	font-size: 25px;
  	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input#button{
	width: 100px;
	margin-top: 5%;
  background: white;
  color: grey;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}
textarea {
	position: static;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	border-radius: 5px;
  	width: 60%;
  	height: 30%;
  	display: block;
  	border: 1px solid #999;
  	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input#button:hover {
  background: #a7a7a7;
  color: #8b2528;
}

			$('a[href^="#"]').on('click', function(event) {
   	 			var target = $( $(this).attr('href') );
  					if( target.length ) {
        				event.preventDefault();
        				$('html, body').animate({
            				scrollTop: target.offset().top
        				}, 1000);
   	 				}
			});
